---
import { withBasePath } from '../../lib/base';
import PanoramaViewer from './PanoramaViewer';

interface Props {
  image: string;
  fillParent?: boolean;
}

const { image, fillParent = false } = Astro.props as Props;
const resolvedImage = withBasePath(image);
---

<div
  class={`relative w-full overflow-hidden bg-[#1f1a15] ${
    fillParent ? 'flex h-full min-h-0 flex-1 self-stretch' : 'aspect-[16/9]'
  }`}
>
  <PanoramaViewer client:load image={resolvedImage} />
</div>
